@import "bootstrap.less";
@import "variables.less";


@font-face {
  font-family: 'Neris';
  src: local('Neris Thin Regular'), local('Neris-Thin'), url('http://64424.selcdn.ru/webfont/neris/neris-thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Neris';
  src: local('Neris Light Regular'), local('Neris-Light'), url('http://64424.selcdn.ru/webfont/neris/neris-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Neris';
  src: local('Neris Light Bold'), local('Neris-SemiBold'), url('http://64424.selcdn.ru/webfont/neris/neris-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Neris';
  src: local('Neris Black Regular'), local('Neris-Black'), url('http://64424.selcdn.ru/webfont/neris/neris-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Neris';
  src: local('Neris Thin Italic'), local('Neris-ThinItalic'), url('http://64424.selcdn.ru/webfont/neris/neris-thinitalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Neris';
  src: local('Neris Light Italic'), local('Neris-LightItalic'), url('http://64424.selcdn.ru/webfont/neris/neris-lightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Neris';
  src: local('Neris Light Bold Italic'), local('Neris-SemiBoldItalic'), url('http://64424.selcdn.ru/webfont/neris/neris-semibolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Neris';
  src: local('Neris Bold Italic'), local('Neris-BoldItalic'), url('http://64424.selcdn.ru/webfont/neris/neris-bolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Neris';
  src: local('Neris Black Italic'), local('Neris-BlackItalic'), url('http://64424.selcdn.ru/webfont/neris/neris-blackitalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}



h1, h2, h3, h4 {
  font-weight: 700;
}
.inner {
  padding: 80px 0;
  h1, h2, h3, h4 {
    color: #1d1d1b;
    margin: 40px 0;
  }
  h2, h3 {
    text-transform: uppercase;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 24px
  }
  p {
    margin-bottom: 30px;
  }
}
a {
  &:hover {
    .transition(color 0.7s ease 0s);
  }
}
.link-border {
  text-decoration: none;
  border-bottom: 1px solid #df97a7;
  &:hover {
    text-decoration: none;
  }
}
.btn {
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 700;
  &:hover {
    -webkit-transition: background 0.7s ease 0s,
                        border 0.7s ease 0s;
    -moz-transition: background 0.7s ease 0s,
                     border 0.7s ease 0s;
    -o-transition: background 0.7s ease 0s,
                   border 0.7s ease 0s;
    transition: background 0.7s ease 0s,
                border 0.7s ease 0s;
  }
  &:focus {
    outline: 0 none!important;
    .box-shadow(none);
  }
}
.btn-default {
  &:hover, &:focus, &:active {
    background: #fff;
    border-color: #c959a2;
  }
}
.btn-primary {
  &:hover, &:focus, &:active {
    background: #c959a2;
    border-color: #c959a2;
  }
}
.logo {
  margin: 35px 0 20px;
}
.header-section {
  line-height: 1.375;
  margin-bottom: 15px;
  div {
    max-width: 210px;
  }
}
.header-section-title {
  color: #b2b2b2;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}
.address {
  color: #1d1d1b;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 600;
}
.schedule {
  font-size: 14px;
}
.tel {
  a {
    color: #1b1b1d;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    span {
      color: @brand-primary;
      font-size: 20px;
      white-space: nowrap;
    }
  }
}
.header-contact {
  button {
    position: relative;
    z-index: 100;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: @screen-sm-min) {
  .header-section {
    margin-top: 18px;
  }
  .header-contact {
    margin-top: 10px;
    button {
      font-size: 16px;
    }
  }
  .address {
    font-size: 16px;
    line-height: 1.375;
  }
  .schedule {
    font-size: 16px;
  }
  .tel {
    font-size: 13px;
    span {
      font-size: 24px;
    }
    a {
      border: none;
    }
  }
}
@media (min-width: @screen-md-min) {
  .header-contact {
    button {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  .tel {
    font-size: 14px;
    span {
      font-size: 26px;
    }
  }
}
@media (min-width: @screen-lg-min) {
  .header-contact {
    .tel {
      font-size: 16px;
    }
  }
}
header {
  .header-section {
    margin-bottom: 15px;
  }
  .tel {
    margin-bottom: 10px;
  }
}
@media (min-width: @screen-sm-min) {
  header {
    margin-bottom: 20px;
  }
}
.navbar-toggle {
  border: none;
  position: relative;
  margin-bottom: 15px;
}
.navbar-nav {
  li {
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.navbar-collapse {
  position: relative;
}
@media (max-width: @screen-xs-max) {
  .navbar-default {
    position: relative;
    top: -42px;
    z-index: 50;
  }
  .navbar-collapse {
    padding-top: 10px;
    .navbar-nav {
      background: #c959a2;
      padding: 15px 0;
      margin-bottom: 0;
      li {
        a {
          color: #fff;
          &:hover, &:focus {
            color: #fff;
          }
        }
      }
    }
    .navbar-nav > li.active > a {
      background: #c959a2;
      color: #fff;
      &:hover, &:focus {
        background: #c959a2;
        color: #fff;
      }
    }
  }
}
@media (min-width: @screen-sm-min) {
  .navbar-collapse {
    padding: 0;
    ul {
      text-align: justify;
      overflow: hidden;
      cursor: default;
      &:after {
        content: "1";
        margin-left: 100%;
        height: 1px;
        overflow: hidden;
        display: inline-block;
      }
      li {
        display: inline;
        float: none;
        a {
          padding: 0;
          display: inline-block;
        }
      }
    }
  }
  .navbar-nav {
    width: 100%;
    li {
      a {
        font-size: 13px;
      }
    }
  }
}
@media (min-width: @screen-md-min) {
  .navbar-nav li a {
    font-size: 16px;
  }
}
.triangle {
  position: absolute;
  top: 0;
  left: 50px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #c959a2;
}
.menu-text-link {
  color: @brand-primary;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  top: 5px;
  left: 100%;
}
.all-services {
    color: #1d1d1b!important;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: url(../images/arrow.png) no-repeat right center;
    padding-right: 35px;
    span {
      border-bottom: 1px dashed #c6c6c6;
    }
  &:hover, &:focus {
    color: #1d1d1b;
    text-decoration: none;
  }
}
footer .panel-body {
  padding-top: 0;
  padding-bottom: 0;
}
section {
  h2 {
    font-size: 40px;
    margin: 0 0 30px;
  }
}
@media (min-width: @screen-md-min) {
  section {
    h2 {
      font-size: 60px;
      margin: 0 0 50px;
    }
  }
}


.actual {
  background: linear-gradient(to right, #dadada, #f0f0f0, #f6f6f6);
  position: relative;
  z-index: 11;
  padding:  0 0 90px;
  img {
    width: 100%;
    margin-bottom: 10px;
  }
  h2 {
    color: @brand-primary;
  }
  ul {
    margin-bottom: 30px;
    li {
      color: #1d1d1b;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.375;
      position: relative;
      padding-left: 40px;
      margin-bottom: 20px;
      &:before {
        content: '';
        display: block;
        background: @brand-primary;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 0;
      }
    }
  }
  button {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: @screen-xs-max) {
  .actual {
    position: relative;
    top: -42px;
    margin-bottom: -42px;
  }
}
@media (min-width: @screen-sm-min) {
  .actual {
    background: url(../images/bg1.jpg) no-repeat center;
    background-size: cover;
    padding-top: 20px;
  }
  .actual-content {
    width: 50%;
  }
}
@media (min-width: @screen-md-min) {
  .actual {
    padding: 90px 0 110px;
    ul {
      margin-bottom: 50px;
    }
  }
}
@media (max-width: @screen-xs-max) {
  .page-title-line {
    position: relative;
    top: -42px;
    margin-bottom: -42px;
  }
}



.main-services {
  background: url("../images/bg2.png") no-repeat center;
  background-size: cover;
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  z-index: 12;
  padding: 40px 0;
  h2 {
    color: #fff;
  }
}
.services-menu {
  .nav {
    margin-bottom: 0px;
    li {
      a {
        display: inline;
        padding: 0 32px 0 0;
        &:hover, &:focus {
          background: transparent;
          color: #fff;
        }
      }
      p {
        overflow: hidden;
      }
      .circle_service {
          .border-right-radius(50%);
          .border-left-radius(50%);
        overflow: hidden;
          float: left;
          width:60px;
          height: 60px;
      }
    }
  }
  .tab-pane {
    padding-top: 0px;
    height: 273px;
    ul {
      padding-left: 15px;
      margin-top: 40px;
      li {
        display: inline-block;
        width:40%;
        margin-bottom: 20px;
        vertical-align: top;
        a {
          color: #fff;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }
  .nav-tabs {
    .service {
      padding-top: 15px;
       a {
        text-transform: uppercase;
      }
    }
  }
}
.service {
  //padding-top: 15px;
   a {
    color: #fff;
    font-size: 18px;
    //text-transform: uppercase;
    text-decoration: none;
    span {
      border-bottom: 1px dashed #fff;
    }
  }
}

.service.active {
  > a {
    font-weight: 700;
    background: url(../images/uparrow.png) no-repeat right center!important;
    span {
      border: none;
    }
  }
}

@media (max-width: @screen-xs-max) {
  .main-services {
    .panel {
      background: transparent;
      margin-bottom: 20px;
    }
    .panel-default > .panel-heading {
      background: transparent;
    }
    .panel-body {
      padding-top: 30px;
      ul {
        li {
          margin-bottom: 20px;
          a {
            color: #fff;
            font-size: 20px;
            font-weight: 600;
          }
        }
      }
    }
    .panel-title {
      a {
        padding: 0 32px 0 0;
      }
    }
    .panel-group {
      margin-top: 90px;
    }
  }
}
@media (min-width: @screen-sm-min) {
  .main-services {
    padding: 65px 0 60px;
  }
}
@media (min-width: @screen-md-min) {
  .main-services {
    padding: 110px 0 105px;
  }
}


.tattoo {
  background: #232428;
  background: radial-gradient(at center, #232428, #313234);
  padding: 50px 0 60px;
  h2 {
    color: #fff;
    margin-bottom: 20px;
  }
  a.btn {
    margin-right: 20px;
    margin-bottom: 15px;
  }
  button {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 15px;
  }
}
.tattoo-slogan {
  color: #fff;
  margin-bottom: 30px;
}
.tattoo-menu {
  li {
    margin: 10px 0;
    a {
      color: #fff;
      font-size: 22px;
      //font-weight: 700;
      border-color: #929394;
    }
  }
}
@media (min-width: @screen-md-min) {
  .tattoo {
    background: url(../images/bg3.jpg) no-repeat 40% center;
    background-size: cover;
    padding: 60px 0;
  }
  .tattoo-slogan {
    margin-bottom: 50px;
  }
}




.actions {
  padding: 60px 0 45px;
  h2 {
    color: @brand-primary;
  }
}
@media (min-width: @screen-sm-min) {
  .actions {
    padding: 60px 0;
  }
  .actions-item-title {
    height: 88px;
    overflow: hidden;
  }
}
@media (min-width: @screen-md-min) {
  .actions {
    padding: 90px 0 110px;
  }
}
.actions-item {
  margin-bottom: 45px;
  .actions-item-img {
    margin-bottom: 20px;
  }
  .actions-item-title {
    color: #1b1b1d;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 35px;
  }
}
.all-actions {
  text-align: right;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
}


.masters {
  background: url(../images/bg5.png) no-repeat center;
  background-size: cover;
  padding: 35px 0 60px;
  position: relative;
  z-index: 14;
  h2 {
    color: #1b1b1d;
  }
  .carousel {
    margin-bottom: 20px;
    .carousel-control {
      width: 26px;
      height: 49px;
    }
    .carousel-caption {
      //height: 285px;
      //overflow: hidden;
      //margin-top: 70px;
    }
    .slider-controls .left {
      background: url(../images/prev.png) no-repeat;
      left: 50%;
      bottom: 0;
      margin-left: -50px;
      &:hover, &:focus, &:active {
        background: url(../images/prev_a.png) no-repeat;
      }
    }
    .slider-controls .right {
      background: url(../images/next.png) no-repeat;
      right: 50%;
      bottom: 0;
      margin-right: -50px;
      &:hover, &:focus, &:active {
        background: url(../images/next_a.png) no-repeat;
      }
    }
  }
}
.carousel-img {
  margin-bottom: 20px;
}
.master-img {
  img {
    border-radius: 50%;
    border: 1px solid @brand-info;
    padding: 10px;
    margin: 0 auto;
  }
}
.master-name {
  color: @brand-info;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.375;
  margin-bottom: 10px;
}
.master-status {
  color: #1b1b1d;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.master-description {
  color: #1b1b1d;
  font-size: 18px;
  font-style: italic;
  line-height: 1.375;
  overflow: hidden;
  &:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: @brand-info;
    margin-bottom: 15px;
  }
}

.all-masters {
  a {
    color: @brand-info;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid #ceedf1;
  }
}
@media (max-width: @screen-xs-max) {
  .masters {
    .carousel {
      .slider-controls {
        position: absolute;
        bottom: 285px;
        left: 0;
        right: 0;
      }
      .carousel-caption {
        height: 285px;
        overflow: hidden;
        margin-top: 70px;
      }
    }
  }
}
@media (min-width: @screen-sm-min) {
  .masters {
    padding: 60px 0 70px;
  }
  .master-description {
    height: 372px;
  }
  .carousel-caption {
    height: 525px;
    overflow: hidden;
  }
}
@media (min-width: @screen-md-min) {
  .masters {
    padding: 100px 0 75px;
  }
  .all-masters {
    margin-top: -130px;
  }
}



.prof-cosmetics {
  background: url(../images/bg4.jpg) no-repeat center;
  background-size: cover;
  padding: 105px 0 70px;
  position: relative;
  z-index: 13;
  top: -50px;
  margin-bottom: -50px;
  h2 {
    color: #fff;
  }
}
@media (max-width: @screen-xs-max) {
  .prof-cosmetics-list {
    margin-top: 130px;
  }
  .prof-cosmetics {
    h2 {
      font-size: 32px;
    }
  }
}
@media (min-width: @screen-sm-min) {
  .prof-cosmetics {
    padding: 150px 0 70px;
    h2 {
      margin-bottom: 70px;
    }
  }
}
.prof-cosmetics-brand {
  margin-bottom: 40px;
  color: #fff;
  img {
    margin-bottom: 15px;
  }
}
.prof-cosmetics-more {
  a {
    font-weight: 700;
    text-transform: uppercase;
    border-color: #883136;
    &:hover {
      color: @brand-primary;
    }
  }
}



.about-salon {
  padding: 50px 0 70px;
  h2 {
    color: #1b1b1d;
  }
  h1 {
    color: #1b1b1d;
  }
}
@media (min-width: @screen-sm-min) {
  .about-salon {
    padding: 85px 0 100px;
  }
}
.about-salon-text {
  margin-bottom: 20px;
}
.online-reg {
  border: 4px solid @brand-info;
  padding: 50px 45px;
  div {
    font-size: 24px;
    line-height: 1.375;
    margin-bottom: 30px;
  }
  div.online-reg-title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .online-reg-subtitle {
    text-transform: uppercase;
  }
}



footer {
  border-top: 1px solid #c6c6c6;
  padding-top: 45px;
}
.footer-menu {
  margin: 40px 0;
  li {
    margin-bottom: 20px;
    a {
      text-decoration: none;
      color: #1b1b1d;
      font-weight: 700;
    }
  }
}
@media (min-width: @screen-sm-min) {
  .footer-menu {
    margin: 0 0 50px;
  }
}
@media (min-width: @screen-md-min) {
  .footer-contact {
    .tel {
      font-size: 12px;
      span {
        font-size: 22px;
      }
    }
    button {
      padding-left: 8px;
      padding-right: 8px;
      font-size: 14px;
    }
  }
}
@media (min-width: @screen-lg-min) {
  .footer-contact {
    .tel {
      font-size: 14px;
      span {
        font-size: 25px;
      }
    }
    button {
      padding-left: 24px;
      padding-right: 24px;
      font-size: 16px;
    }
  }
}
.footer-contact > div {
  line-height: 1.375;
  margin-bottom: 20px;
}
footer .panel-heading {
  padding-left: 0;
  padding-right: 0;
}



.page-title-line {
  background: #c7508f;
  background: linear-gradient(to right, @brand-primary, #c7508f, #c959a2);
  padding: 10px 0 15px;
  position: relative;
  h1 {
    margin: 0;
    color: #fff;
  }
}
.breadcrumb {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  color: #fff;
  text-transform: uppercase;
  a, a:hover {
    color: #fff;
  }
  h1 {
    text-transform: none;
    display: inline;
    font-size: 38px;
  }
  button {
    border: none;
    color: @brand-primary;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: 10px;
    &:hover, &:focus, &:active {
      background: #fff;
      color: @brand-primary;
      .box-shadow(none);
    }
    span {
      &:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid @brand-primary;
        margin-left: 10px;
        position: relative;
        top: -3px;
      }
    }
  }
}
.breadcrumb-btn {
  font-size: 41px;
  padding-top: 0;
  padding-bottom: 0;
}



.inner-article {
  margin-bottom: 40px;
}
.article-img {
  margin-bottom: 20px;
}
.action-period {
  color: @brand-primary;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
.action-title {
  color: #1b1b1d;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
}


.contacts {
  color: #1d1d1b;
  dd {
    margin-bottom: 40px;
  }
}
.message-form {
  form {
    margin-bottom: 40px;
    label {
      font-size: 14px;
    }
  }
}
.contacts-title {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}


.blog-date {
  color: #bcbcbc;
  font-size: 18px;
  margin-bottom: 10px;
}
.link-more {
  font-weight: 700;
  text-transform: uppercase;
}
.blog-item {
  border-bottom: 1px dashed #efcbd3;
  padding-bottom: 30px;
}
.pagination {
  font-weight: 600;
}
.article-date {
  color: #b2b2b2;
  font-size: 18px;
}
.border-text {
  border-left: 9px solid @brand-primary;
  padding-left: 30px;
  color: #1d1d1b;
  font-weight: 600;
}
@media (max-width: @screen-xs-max) {
  .share {
    margin-bottom: 20px;
  }
}
.print {
  a {
    background: url(../images/print.png) no-repeat left center;
    padding-left: 33px;
    color: #b2b2b2;
  }
}
@media (min-width: @screen-sm-min) {
  .border-text {
    font-size: 20px;
  }
  .print {
    text-align: right;
  }
}



.about-makeup {
  background: url(../images/bg6.jpg) no-repeat center;
  background-size: cover;
  padding: 30px 0 70px;
}
@media (max-width: @screen-xs-max) {
  .about-makeup-item {
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.about-makeup-img {
  margin-bottom: 30px;
  img {
    border-radius: 50%;
    border: 1px solid #c959a2;
    padding: 10px;
    margin: 0 auto;
  }
}
.about-makeup-title {
  max-width: 245px;
  color: #1d1d1b;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.375;
  margin: 0 auto;
}
.makeup-info {
  padding: 0 0 60px;
  .online-reg {
    margin-bottom: 60px;
  }
}
.inner-side-nav {
  border-top: 1px dashed #efcbd3;
  li {
    border-bottom: 1px dashed #efcbd3;
    padding: 15px 0;
    a {
      font-weight: 600;
    }
  }
}
.online-reg-inner-form {
  .help-block {
    font-size: 14px;
  }
  .form-group {
    margin-bottom: 15px;
  }
}
.inner-side {
  padding-top: 40px;
}
.inner-side-infoblock-header {
  color: @brand-primary;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 25px;
}
.inner-side-infoblock-img {
  margin: 25px 0;
}
.inner-side-infoblock-title {
  color: #1d1d1b;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.faq {
  .panel-title {
    a {
      color: @brand-primary;
      font-weight: 700;
      text-decoration: none;
      &:before {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-left: 5px solid @brand-primary;
        border-bottom: 5px solid transparent;
        margin-right: 10px;
      }
      span {
        border-bottom: 1px dashed @brand-primary;
      }
    }
  }
  .panel-title.active {
    a {
      &:before {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid @brand-primary;
        position: relative;
        top: 2px;
      }
      span {
        border-bottom: none;
      }
    }
  }
}
.question {
  margin: 15px 0 25px;
}
table {
  color: #1d1d1b;
  border-top: 1px solid #e1e1e1;
  tr {
    border-bottom: 1px solid #e1e1e1;
    td {
      padding: 20px 0;
    }
  }
}
.price-list {
  tr {
    td.td-service {
      width: 80%;
    }
    .price {
      color: @brand-primary;
      font-weight: 700;
    }
  }
}
.all-services-btn {
  background: #fff;
  color: @brand-primary!important;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: 10px;
  position: relative;
  z-index: 1001;
  &:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid @brand-primary;
    margin-left: 10px;
    position: relative;
    top: -3px;
  }
}
@media (min-width: @screen-sm-min) {
  .about-makeup {
    padding: 60px 0 75px;
  }
  .makeup-info {
    padding: 0 0 80px;
  }
  .question {
    margin: 25px 0 30px;
  }
  table {
    .price {
      text-align: center;
    }
  }
}
@media (min-width: @screen-md-min) {
  .makeup-info {
    padding: 20px 0 120px;
  }
  .inner-side-nav {
    margin-bottom: 55px;
  }
}



.modal-content {
  padding: 8px;
}
.modal-border {
  padding-bottom: 40px;
  border: 1px solid @brand-primary;
}
.modal-title {
  text-transform: uppercase;
  color: #1d1d1b;
  font-size: 36px;
}
.modal {
  label, .help-block {
    font-size: 14px;
  }
}
.modal-header {
  h4 {
   margin-top: 40px;
  }
  .close {
    color: @brand-primary;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    opacity: 1;
    &:focus {
      outline: 0 none!important;
    }
    span {
      font-size: 28px;
    }
  }
}
.modal-body {
  padding-top: 0;
  padding-bottom: 0;

}
@media (min-width: @screen-sm-min) {
  .modal-dialog {
    width: 380px;
  }
}


.works-item {
  margin-bottom: 100px;
}
.works-item-img {
  margin-bottom: 35px;
  img {
    border-radius: 50%;
    border: 1px solid #c959a2;
    padding: 10px;
    margin: 0 auto;
  }
}
.works-item-title {
  text-align: center;
  a {
    color: #1d1d1b;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.375;
  }
}
.works-gallery {
  img {
    margin-bottom: 15px;
  }
}
@media (max-width: @screen-xs-max) {
  .works-gallery {
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
}


.dropdown-menu {
  top: 5px;
  width: 100%;
  padding: 45px 0 55px;
  ul {
    li {
      margin-bottom: 15px;
      a {
        color: #1d1d1b;
        font-weight: 600;
        text-decoration: none;
        text-transform: none;
        &:hover {
          color: #1d1d1b;
          text-decoration: underline;
        }
      }
    }
  }
  .dropdown-menu-list {
    margin-top: 25px;
    ul.level_0 {
      margin-left: 30px;
    }
  }
  .dropdown-menu-group-title {
    margin-bottom: 15px;
    a {
      color: #1d1d1b;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 1px dashed #1d1d1b;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .dropdown-menu-close {
    color: @brand-primary;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid @brand-primary;
      margin-left: 10px;
      position: relative;
      top: -3px;
    }
    &:hover {
      color: @brand-primary;
    }
  }
}
a.btn {
  text-decoration: none;
}
.inner {
  .master-description {
    height: auto;
  }
  .master-row-item {
    margin-bottom: 30px;
  }
}
.services-menu-xs {
  > li {
    margin-bottom: 25px;
  }
  .circle_service {
    display: block;
    .border-right-radius(50%);
    .border-left-radius(50%);
    overflow: hidden;
    width:60px;
    height: 60px;
  }
}
.service.active .services-menu-item-xs {
  background: rgba(0, 0, 0, 0) url("../images/uparrow.png") no-repeat scroll right center !important;
  font-weight: 700;
  span {
    border: none;
  }
}
.service .services-menu-item-xs {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 32px 0 0;
  span {
    border-bottom: 1px dashed #fff;
  }
}
.services-menu-detail-xs {
  li {
    a {
      color: #fff;
    }
  }
}

.vk-group-widget {
  overflow: hidden;
}